<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionstring" value="server=127.0.0.1;uid=sa;pwd=123;database=dbSchool"/>
	</appSettings>
</configuration>